
<style>
    body {
        text-align: center;
        background-color: #000;
    }

    #sos {
        outline: none;
        width: 200px;
        height: 200px;
        margin-top: 30px;
        border: none;
        border-radius: 100px;
        background-color: #00a3ad;
        color: white;
        font-size: 3em;
        font-weight: bold;
        border: 5px solid pink;
        box-shadow: 0 0 5px gray;
    }

        #sos:focus {
            box-shadow: 0 0 1px black;
        }

    p.center {
        width: 600px;
        margin: 2em auto 2em;
        text-align: center;
    }

    .android {
        width: 375px;
        height: 667px;
        margin: 0 auto;
        border-radius: 3px;
        box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.05);
        background: #00a3ad;
    }

        .android .status {
            width: 100%;
        }

            .android .status svg {
                margin: 5px 0 0 5px;
            }

    .instruction {
        width: 100%;
    }

        .instruction svg {
            position: relative;
            top: -50px;
            margin: 0 auto;
        }
</style>

<body>
    <div class="android">
        <div class="status">
            <svg width="365px" height="70px" viewBox="4 3 365 70" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <!-- Generator: Sketch 41 (35326) - http://www.bohemiancoding.com/sketch -->
                <desc>Created with Sketch.</desc>
                <defs>
                    <polyline id="path-1" points="14 14 14 0 0 14 14 14"></polyline>
                    <path d="M8.3125,1.15384615 L7.125,1.15384615 L7.125,0 L2.375,0 L2.375,1.15384615 L1.1875,1.15384615 C0.532,1.15384615 0,1.67076923 0,2.30769231 L0,13.8461538 C0,14.4830769 0.532,15 1.1875,15 L8.3125,15 C8.968,15 9.5,14.4830769 9.5,13.8461538 L9.5,2.30769231 C9.5,1.67076923 8.968,1.15384615 8.3125,1.15384615" id="path-3"></path>
                </defs>
                <g id="Android-Header" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(4.000000, 3.000000)">
                    <g id="Header" transform="translate(138.000000, 28.000000)"></g>
                    <g id="Status-Bar" transform="translate(0.687500, 0.500000)">
                        <g id="Status" transform="translate(263.541667, 1.000000)">
                            <text id="12:09" font-family="Roboto-Regular, Roboto" font-size="14" font-weight="normal" line-spacing="14" fill="#FFFFFF">
                                <tspan x="63" y="16">12:09</tspan>
                            </text>
                            <g id="Wifi" transform="translate(0.500000, 0.500000)" fill="#FFFFFF">
                                <path d="M8.59397649,0 C5.37123531,0 2.36334354,1.07424706 0,2.86465883 L8.59397649,14.3232942 L17.187953,2.86465883 C14.8246095,1.07424706 11.8167177,0 8.59397649,0 L8.59397649,0 Z" id="Shape"></path>
                            </g>
                            <g id="Network" transform="translate(23.000000, 1.000000)">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="Clip-36"></g>
                                <polyline id="Fill-35" fill-opacity="0.3" fill="#FFFFFF" mask="url(#mask-2)" points="14 0 10.5 3.5 10.5 14 14 14 14 0"></polyline>
                                <polyline id="Fill-37" fill-opacity="0.3" fill="#FFFFFF" mask="url(#mask-2)" points="10.5 3.5 7 7 7 14 10.5 14 10.5 3.5"></polyline>
                                <polyline id="Fill-38" fill="#F7F7F7" mask="url(#mask-2)" points="7 7 3.5 10.5 3.5 14 7 14 7 7"></polyline>
                                <polyline id="Fill-39" fill="#F7F7F7" mask="url(#mask-2)" points="3.5 10.5 0 14 3.5 14 3.5 10.5"></polyline>
                            </g>
                            <g id="Battery" transform="translate(46.500000, 0.000000)">
                                <mask id="mask-4" fill="white">
                                    <use xlink:href="#path-3"></use>
                                </mask>
                                <g id="Clip-42"></g>
                                <path d="M9.5,11.5384615 L0,11.5384615 L0,13.8461538 C0,14.4830769 0.532,15 1.1875,15 L8.3125,15 C8.968,15 9.5,14.4830769 9.5,13.8461538 L9.5,11.5384615" id="Fill-41" fill="#F8F8F8" mask="url(#mask-4)"></path>
                                <polygon id="Fill-43" fill="#F8F8F8" mask="url(#mask-4)" points="0 8.07692308 9.5 8.07692308 9.5 11.5384615 0 11.5384615"></polygon>
                                <polygon id="Fill-44" fill-opacity="0.3" fill="#FFFFFF" mask="url(#mask-4)" points="0 4.61538462 9.5 4.61538462 9.5 8.07692308 0 8.07692308"></polygon>
                                <path d="M8.3125,1.15384615 L1.1875,1.15384615 C0.532,1.15384615 0,1.67076923 0,2.30769231 L0,4.61538462 L9.5,4.61538462 L9.5,2.30769231 C9.5,1.67076923 8.968,1.15384615 8.3125,1.15384615" id="Fill-45" fill-opacity="0.3" fill="#FFFFFF" mask="url(#mask-4)"></path>
                                <polygon id="Fill-46" fill-opacity="0.3" fill="#FFFFFF" mask="url(#mask-4)" points="2.375 0 7.125 0 7.125 1.15384615 2.375 1.15384615"></polygon>
                            </g>
                        </g>
                        <g id="DeveloperTown" font-size="13" font-family="Roboto-Regular, Roboto" fill="#FFFFFF" font-weight="normal">
                            <text>
                                <tspan x="0" y="14"></tspan>
                            </text>
                        </g>
                    </g>
                </g>
            </svg>
            <button id="sos" onclick="myFunction()">SOS</button>
        </div>
    </div>


    <script>
        var DOT = 300;
        var DASH = 600;
        var SHORT_GAP = 100;
        var DELIM_GAP = 500;

        function sosMorse() {
            navigator.vibrate([
                DOT, SHORT_GAP, DOT, SHORT_GAP, DOT,
                DELIM_GAP,
                DASH, SHORT_GAP, DASH, SHORT_GAP, DASH,
                DELIM_GAP,
                DOT, SHORT_GAP, DOT, SHORT_GAP, DOT
            ]);
        }
        function myFunction() {
             var myWindow = window.open("", "", "width=200, height=100");
  myWindow.document.write("<p>Felling afraid!</p>");
            myWindow.blur();
            myWindow.location = "https://www.google.com/maps/place/Gazipur";
            }
    </script>
</body>

